html {
   box-sizing: border-box;
}
body {
   font-family: "Noto Sans", sans-serif;
   font-size: 14px;
   line-height: 19px;
   font-weight: 400;
   color: #303030;
}
blockquote {
   margin: 0;
}
*,
*::after,
*::before {
   box-sizing: inherit;
}
button {
   margin: 0;
   padding: 0;
}
ul {
   margin: 0;
   padding: 0;
   list-style: none;
}
p {
   margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   padding: 0;
   font-size: 16px;
}
a {
   text-decoration: none;
   color: inherit;
}
.container {
   max-width: 1220px;
   margin: 0 auto;
   padding: 0 10px;
}
.title {
   font-size: 24px;
   line-height: 33px;
   font-weight: 700;
   color: #868585;
   margin-bottom: 60px;
   text-transform: uppercase;
}
//Start Header block
.header {
   padding: 70px 10px 38px;
   background-image: url("../images/header-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100vh;
   color: #fff;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-bottom: 150px;
   &__subtitle {
      font-size: 18px;
      line-height: 25px;
      font-weight: 400;
      margin-top: auto;
   }
   &__title {
      font-size: 64px;
      line-height: 87px;
      font-weight: 700;
      span {
         display: block;
         font-size: 42px;
         line-height: 57px;
      }
   }

   &__button {
      margin-top: 50px;
      margin-bottom: auto;
      align-self: center;
   }
}
.button {
   &__path {
      transition: fill 0.5s;
   }
   &:hover {
      .button__path {
         fill: #a9a32a;
      }
   }
   &__text {
      font-size: 18px;
      line-height: 25px;
      display: inline-block;
      transform: translateY(-17px);
      margin-left: -57px;
   }
}
.social {
   display: flex;
   justify-content: center;
   align-items: center;
   &__item {
      padding: 0 10px;
   }
}

//End Header block
//Start Service block

.service {
   margin-bottom: 150px;
   &__inner {
      display: flex;
   }
   &__content {
      flex-basis: 510px;
      margin-right: 90px;
   }
   &__box {
      margin-bottom: 50px;
   }
   &__box-title {
      font-size: 18px;
      line-height: 25px;
      font-weight: 700;
      margin-bottom: 15px;
   }
   &__img {
      object-fit: cover;
   }
}

//End Service block
//Start Info block

.info {
   margin-bottom: 150px;
   &__inner {
      display: flex;
   }
   &__box {
      // flex-basis: 510px;
      flex: 0 0 510px;
      margin-right: 90px;
   }
   &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   &__list-item {
      flex-basis: 235px;
      margin-bottom: 17px;
   }
   &__list-title {
      font-size: 18px;
      line-height: 25px;
      font-weight: 700;
      margin-bottom: 5px;
   }

   &__content {
   }

   &__content-text {
      font-size: 18px;
      line-height: 25px;
      font-weight: 700;
      margin-bottom: 17px;
   }

   &__content-img {
   }
}
.info-tabs {
   margin-bottom: 100px;
   &__items {
      margin-bottom: 120px;
   }
   &__item {
      font-size: 18px;
      line-height: 25px;
      margin-right: 40px;
      &--active {
         border-bottom: 1px solid #303030;
      }
   }

   &__contentbox {
   }

   &__content {
      display: none;
      &--active {
         display: block;
      }
   }
}
.info-slider {
   max-width: 510px;
   &__item {
   }
   &__img {
      margin-right: 40px;
      float: left;
   }
   &__text {
      padding-bottom: 15px;
   }
}
.slick-arrow {
   position: absolute;
   left: 275px;
   bottom: -3px;
   z-index: 5;
   cursor: pointer;
   path {
      transition: fill 0.5s;
   }
   &:hover path {
      fill: #a9a32a;
   }
}
.slick-right {
   left: 340px;
}

//End Info block
//Start Blockquote block

.blockquote {
   padding: 128px 10px 144px;
   background-image: url("../images/blockquote.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;
   margin-bottom: 150px;
   &__text {
      max-width: 670px;
      margin: 0 auto;
      font-size: 42px;
      line-height: 57px;
      color: #fff;
   }
}

//End Blockquote block
//Start Clients block

.clients {
   margin-bottom: 150px;
}
.clients-slider {
   &__item {
   }
   &__box {
      display: flex;
   }
   &__box-img {
      flex-basis: 510px;
      margin-right: 90px;
      margin-bottom: 30px;
   }

   &__box-content {
   }

   &__box-title {
      max-width: 478px;
      font-size: 18px;
      line-height: 25px;
      font-weight: 700;
      margin-bottom: 30px;
   }

   &__box-list {
      margin-left: 50px;
      margin-bottom: 50px;
   }

   &__box-item {
      margin-bottom: 15px;
   }
}
.button {
   &__path {
   }

   &__text {
   }
}

//End Clients block
//Start Step block

.step {
   margin-bottom: 150px;
   &__inner {
      display: flex;
   }
   &__content {
      margin-right: 90px;
   }
   &__list {
      list-style: none;
      counter-reset: number;
   }
   &__list-item {
      counter-increment: number;
      margin-bottom: 30px;
      &::before {
         content: "0" counter(number);
         margin-bottom: 11px;
         color: #868585;
      }
      &:nth-child(n + 10)::before {
         content: counter(number);
      }
   }
   &__list-title {
      margin-bottom: 2px;
      font-size: 18px;
      line-height: 25px;
      font-weight: 700;
   }
   &__list-text {
   }
   &__img {
      flex-basis: 600px;
      object-fit: cover;
   }
}

//End Step block
//Start Footer block

.footer {
   background-image: url("../images/footer-bg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   padding: 70px 0 50px;
   color: #fff;
   &__top {
      display: flex;
      margin-bottom: 150px;
   }
   &__form {
      flex-basis: 510px;
      margin-right: 90px;
   }
   &__title {
      font-size: 24px;
      line-height: 43px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 60px;
   }
   &__input {
      border: none;
      border-bottom: 1px solid #fff;
      display: block;
      width: 100%;
      background-color: transparent;
      padding-bottom: 11px;
      font-family: "Noto Sans", sans-serif;
      font-size: 14px;
      line-height: 19px;
      color: #fff;
      margin-bottom: 60px;
      &::placeholder {
         font-family: "Noto Sans", sans-serif;
         font-size: 14px;
         line-height: 19px;
         color: #fff;
      }
   }
   &__form-btn {
      background-color: transparent;
      border: none;
      padding: 0;
      color: #fff;
      cursor: pointer;
   }
   &__contacts {
   }

   &__contacts-title {
   }

   &__contacts-list {
   }

   &__contacts-item {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 30px;
   }

   &__phone {
   }

   &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__bottom-link {
   }
}

.button {
   &__path {
   }

   &__text {
   }
}

.footer .social {
   margin-right: -10px;
}

//End Footer block

//Media
@media (max-width: 1240px) {
   .info__inner {
      flex-wrap: wrap-reverse;
   }
   .info__box {
      flex-basis: 100%;
      margin-right: 0;
      display: flex;
   }
   .info__list {
      align-self: start;
      margin-left: 40px;
   }
   .info__content {
      flex-basis: 100%;
   }
   .info__content-img {
      display: none;
   }
   .info-tabs__items {
      margin-bottom: 40px;
   }
}

@media (max-width: 1024px) {
   .service__inner {
      flex-wrap: wrap;
   }
   .service__content {
      flex-basis: 100%;
      margin-right: 0;
   }
   .service__img {
      width: 100%;
      height: 400px;
   }
   .step__inner {
      flex-wrap: wrap;
   }
   .step__content {
      margin-right: 0;
   }
   .step__img {
      flex-basis: 100%;
      max-width: 100%;
      height: 400px;
      object-fit: cover;
   }
}

@media (max-width: 960px) {
   .clients-slider__box {
      display: block;
   }
   .clients-slider__box-title {
      max-width: 100%;
   }
   .clients-slider__box-img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-right: 0;
   }
}

@media (max-width: 826px) {
   .info__box {
      display: block;
   }
   .info__list {
      margin-left: 0px;
   }
}

@media (max-width: 768px) {
   .header__title {
      font-size: 48px;
      line-height: 56px;
      span {
         font-size: 32px;
         line-height: 40px;
      }
   }
   .blockquote {
      padding: 60px 10px 80px;
   }
   .blockquote__text {
      font-size: 28px;
      line-height: 32px;
   }
   .footer__bottom {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      .logo {
         width: 100%;
         margin: 20px 0;
      }
   }
   .footer__top {
      flex-wrap: wrap;
   }
   .footer__form {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: 40px;
   }
}

@media (max-width: 640px) {
   .header,
   .service,
   .info,
   .blockquote,
   .clients,
   .step,
   .footer__top {
      margin-bottom: 75px;
   }
}

@media (max-width: 540px) {
   .header__title {
      font-size: 32px;
      line-height: 38px;
      span {
         font-size: 22px;
         line-height: 28px;
      }
   }
   .header__subtitle {
      font-size: 16px;
      line-height: 22px;
   }
   // .info-slider {
   //    max-width: 100%;
   // }
   // .info-slider__img {
   //    margin-right: 0;
   //    float: none;
   //    width: 100%;
   //    margin-bottom: 25px;
   // }
   // .info-slider__text {
   //    max-width: 510px;
   // }
   .info-slider {
      max-width: 300px;
      margin: 0 auto;
   }
   .info-slider__img {
      width: 100%;
      height: 200px;
      margin-right: 0;
      margin-bottom: 25px;
      float: none;
      object-fit: cover;
   }
   .slick-left {
      left: calc(50% - 50px);
   }
   .slick-right {
      left: calc(50% + 10px);
   }
   .info__list {
      display: block;
   }
   .info-tabs__item {
      margin-right: 0;
      padding: 10px;
      display: block;
      text-align: center;
   }
   .clients-slider__box-list {
      margin-left: 0;
   }
}

@media (max-width: 375px) {
   .button__text {
      margin-left: -76px;
   }
   .title {
      margin-bottom: 40px;
   }
   .service__box {
      margin-bottom: 30px;
   }

   .blockquote__text {
      font-size: 22px;
      line-height: 28px;
   }
}

@media (max-width: 340px) {
   .info-slider {
      width: 280px;
   }
}
